body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../img/7SBV.gif');
}

*{
    margin: 0;
    padding: 0;
}

header{
    position: center;
    background: #FF8450;
    width: 70%;
    display: flex;
    justify-content: space-around;
    top: 0;
    z-index: 100;
}

header nav ul{
    background: #FF8450;
    list-style: none;
}

header nav > ul > li{
    float: left;
}

header nav ul li a{
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    font-size: 22px;
}

main{
    display: flex;
    width: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F1CBB6;
}

.form {
    width: 60%;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 5%;
    background: #FF8450;
    text-align: center;
}

main .instuction {
    font-size: 24px;
    margin-bottom: 2%;
    text-align: left;
    border: 1px solid black;
}

.input {
    margin-bottom: 5%;
    font-size: 26px;
}

.button input{
    background: black;
    color: #FF8450;
    width: 50%;
    font-size: 24px;
    border-radius: 50px;
}

.input input {
    width: 80%;
}

#outResult {
    font-size: 24px;
}

footer {
    background: black;
    color: white;
    font-size: 24px;
    width: 70%;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}